{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">

<title>Optometry</title>
<div class="container">
	<div class="col-sm-1 left"></div>
	<div class="col-sm-5 left">
		<form method='post' action='/'>
			{% csrf_token %}
		  {% for field in form %}
		  <div class="form-group">
		    {{ field.label_tag }} {{ field }}
		    {% if field.help_text %}
		    <p class="help">{{ field.help_text|safe }}</p>
		    {% endif %}
		  </div>
		  {% endfor %}

		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
<div class="container">
	{{ results }}
</div>
{% endblock %}
