{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'css/extra.css' %}">


<title>Optometry</title>
<div class="container">
	<div class="col-sm-1 left"></div>
	<div class="col-sm-5 left">
  {{ error_msg }}
		<form method='post' action='/'>
			{% csrf_token %}
		  {% for field in form %}
		  <div class="form-group">
		    {{ field.label_tag }} {{ field }}
		    {% if field.help_text %}
		    <p class="help">{{ field.help_text|safe }}</p>
		    {% endif %}
		  </div>
		  {% endfor %}

		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
<div class="container">
	<div class="row">
	{% for company in results %}
    {% if results|length < 4 %}<div class="col-md-4 text-center">{% elif results|length == 4 %}<div class="col-md-3 text-center">{% elif results|length > 4 %}<div class="col-md-2 text-center">{% endif %}
      <div class="panel panel-info panel-pricing">
        <div class="panel-heading">
            <i class="fa fa-check-square-o"></i>
            <h3>{{ company.company }}</h3>
        </div>
          
        <table class="list-group">
          <tr class = "list-group-item"><td>Time to analyze: </td><td>{{ company.elapsed }}</td></tr>
          {% for tag in company.tags %}
            <tr class="list-group-item"><td>{{ tag.tag }}</td><td>{{ tag.score }}</td></tr>
          {% endfor %}

        </table>
           
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
