certifi==2017.4.17
chardet==3.0.3
clarifai==2.0.20
configparser==3.5.0
Django==1.11.2
functools32==3.2.3.post2
future==0.15.2
idna==2.5
jsonschema==2.5.1
Pillow==6.2.0
pytz==2017.2
requests==2.13.0
urllib3==1.21.1
